<div class="container color-dark">
    <div class="col">
      <p>my certificates !</p>
    </div>
  </div>
  
  <div class="container color-light">
    <div class="col">
      <form>
        <input type="text" class="txt" name="schoolCertificates" placeholder="certificates from school" [(ngModel)]="myCertificates.schoolCertificates"> <br>
        <input type="text" class="txt" name="skillsCertificates" placeholder="certificates from skills" [(ngModel)]="myCertificates.skillsCertificates"> <br>

        
        
  
        <input type="submit" class="btn" value="{{ btnTxt }}" (click)="AgregarCertificates()">
      </form>
    </div>
  
    <div class="col2">
      <p class="life-container" *ngFor="let cer of certificates;">
           <span class="button-group-inline">
        <input type="submit" class="btn" value="update" (click)="prepararEdicion(cer)">
        <input type="submit" class="btn" value="delete" (click)="deleteCertificate(cer.id)">
           </span>
        {{cer.schoolCertificates}} -  {{cer.skillsCertificates}} 
      </p>
    </div>
  </div>
  ~
  